.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    width: 250px;
}

.text {
    margin: 0px;
}

.icon {
    margin: 0 5px;
    font-size: 12px;
}